/*failsafe for viewport width*/
img, embed, object, video {
  max-width: 100%;
}

/*enable center text*/
.center {
  text-align: center;
}

/*enable center image*/
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*body properties*/
body {
  display: block;
  cursor: pointer;
  background-color: gray;
  font-family:"serif";
}

/*paragraph properties*/
p {
  display: block;
  font-size: 1.25em;
}

/*figure properties*/
figure {
}

/*logo properties*/
.logo {
  display: inline;
  margin-left: 10px;
  margin-bottom: -15px;
}

/*container_projects properties*/
#container { 
  display: flex;
  text-align: center;
}
.projects {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: auto;
  margin-right:auto;
  box-shadow: 5px 5px 20px;
}
